.navBar {
  position: relative;
}

.navBar .hamburger {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

ul {
  display: none;
}

.menuNav {
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  width: 100vw;
}

.menuNav .showMenu {
  width: 100vw;
  list-style: none;
  display: block;
  z-index: 10;
}

.showMenu a {
  display: block;
  padding: 18px;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  text-transform: uppercase;
  display: block;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.menuNav.showMenu a:hover {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
